body{

    font-family:"Arial";
}


.buttonModifier{
    border: none;
    background-color: white;

}

.buttonSupprimer{
    border: none;
    background-color: white;
}

.filtre{
    margin-top: 2%;
    border-color: #A52A2A;
    margin-bottom: 2%;
}

.ajouter{
    background-color: skyblue;
    border-radius:7%;
    margin-bottom: 2%;
    margin-top: 2%;

}

.ajouter:hover{
    background-color: dodgerblue;
}