<!DOCTYPE html>
<html lang="en" ng-app="TP4">
<head>
    <meta charset="UTF-8">
    <title>Gestion Contacts</title>
    <link rel="stylesheet" href="GestionContacts.css" media="all">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="contactController.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.min.js"></script>
</head>

<body ng-controller="contactController as contactCtrl">
<fieldset>
    GESTION DES CONTACTS
    <div>
    <input class="filtre" ng-model="myfiltre" type="text" id="filtre" name="filtre" placeholder="Filtrer...">
    <table>
        <tr ng-repeat="contact in contactCtrl.contacts | filter:myfiltre as data">
            <td>{{contact.nom}}</td>
            <td>{{contact.prenom}}</td>
            <td>{{contact.mail}} <button ng-click="contactCtrl.setVisibleModif()" class="buttonModifier" id="modifier" name="modifier" ><img src="buttonModifier.png"></button><button class="buttonSupprimer" id="supprimer" name="supprimer"><img src="buttonSupprimer.png"></button></td>
        </tr>
    </table>
        <input class="ajouter" ng-click="contactCtrl.setVisibleAjout()" type="submit" id="ajouter" name="ajouter" value="Ajouter...">
        <div>
            {{(data | filter:myfiltre).length}} contacts trouvés.
        </div>

        <div ng-show="contactCtrl.estVisibleAjout()">
            Ajouter un contact <br>
            <input type="text" id="nom" name="nom" placeholder="Entrez un nom...">
            <input type="text" id="prenom" name="prenom" placeholder="Prénom...">
            <input type="text" id="mail" name="mail" placeholder="Adresse Mail">
            <input type="submit" id="valider" name="valider" value="Valider">
            <input ng-click="contactCtrl.annulerAjout()" type="submit" id="annuler" name="annuler" value="Annuler">
        </div>

        <div ng-show="contactCtrl.estVisibleModif()">
            Modifier un contact <br>
            <input type="text" id="nomModif" name="nomModif" value="">
            <input type="text" id="prenomModif" name="prenomModif" value="">
            <input type="text" id="mailModif" name="mailModif" value="">
            <input type="submit" id="valider2" name="valider" value="Valider">
            <input ng-click="contactCtrl.annulerModif()" type="submit" id="annuler2" name="annuler" value="Annuler">
        </div>
    </div>
</fieldset>
</body>
</html>