<!DOCTYPE html>
<html lang="en" data-ng-app="TP2">
<head>
    <meta charset="UTF-8">
    <title>Service</title>
    <link rel="stylesheet" href="service.css" media="all">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="serviceController.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.min.js"></script>


</head>
<body ng-controller="serviceController as serviceCtrl">
<center>
<fieldset class="cadreService">
<label class="title">Services</label>
<fieldset class="choixElements">
    Choisissez les éléments à inclure <br>
    {{serviceCtrl.count()}} service(s) sélectionné(s)
</fieldset>
<div>
    <p ng-repeat="service in serviceCtrl.services">
    <button ng-click="serviceCtrl.activer(service)" ng-class="{'active' : service.active}">

        {{service.name}} {{service.price | currency: $ : 2}}
    </button></p>
</div>
<hr>
Total: {{serviceCtrl.total()}} <br>
    <div>
        <br>
    <input type="checkbox" name="checkPromo" id="checkPromo" ng-click="serviceCtrl.setVisible()">
    <input class="textCodePromo" type="text" id="codePromo" name="codePromo" placeholder="Code Promo" ng-class="{'code' : promo.code}" >
    </div>
    <div ng-show="serviceCtrl.estVisible()">
        Remise: {{serviceCtrl.remisePromo()}}
        <br>
        Total avec remise: {{this.total-this.remise}}
    </div>
</fieldset>
</center>
</body>
</html>