body{
    text-align: center;
    font-family: 'Comic Sans MS', cursive;
}

fieldset{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 40%;
    align:center;
}

button{
    width: 40%;
    height: 40px;
    font-family: 'Comic Sans MS', cursive;
    border-radius:8px;
    background-color: lightblue;

}

.cadreService{
    background-color: lightseagreen;
}

.title{
    font-size: 200%;
}

.choixElements{
    background-color: lightblue;
}

.active{
    background-color: khaki;
}