<!DOCTYPE html>
<html lang="en" data-ng-app="TP1">
<head>
    <meta charset="UTF-8">
    <title>Note Application</title>
    <link rel="stylesheet" href="noteApplication.css" media="all">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="noteController.js"></script>
    <link rel="stylesheet" href="noteApplication.css" media="all">

</head>
<body data-ng-controller="noteController as noteCtrl">
<p>Note:</p>
<textarea rows="10" ng-model="txt" maxlength="100" id="champsNote" name="note" value="note"></textarea></body><br>
<input class="btnEnregistrer" type="submit" id="button1" name="enregistrer" value="Enregistrer">
<button class="btnEffacer" ng-click="reset()" id="button2">Effacer</button>
<fieldset class="noteSaisie">
    <div>
    Vous avez saisi: {{txt}}
    </div>
</fieldset>
<fieldset class="caracteresRestants">
    <div>
    Nombre de caractères restants: {{100-txt.length}}
    </div>
</fieldset>
</body>
</html>